@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-sans;

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.scrollbar-thumb');
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.scrollbar-thumb-hover');
}

::-webkit-scrollbar-track {
  background-color: theme('colors.scrollbar-track');
  border-radius: 4px;
}


::-webkit-scrollbar-corner {
  background-color: theme('colors.scrollbar-track');
}

@layer components {
    .primary-btn {
      @apply bg-primary
             text-white font-bold text-sm flex justify-center items-center
             rounded-full shadow-md
    }
  
    .primary-btn:hover {
      @apply scale-105 border-primary;
    }
  
    .secondary-btn {
      @apply 
             text-textColorBlue font-bold text-sm justify-center items-center
             rounded-full shadow-md 
             border-2 border-primary
    }
  
    .secondary-btn:hover {
      @apply bg-primary text-white;
    }

    .input-field{
        @apply border border-gray-400 outline-none rounded-lg pl-2 h-10
    }

    .auth-btn{
        @apply bg-primary
        text-white font-bold text-sm px-6 py-2 
        rounded-lg shadow-md
    }

    .auth-btn:hover{
        @apply  scale-105 transition-transform;
    }

    .checkBox {
      @apply w-5 h-5; /* Adjust width and height */
    
    }
  
  }
